.div-1 { 
 height: 120px; 
 width: auto;
 background-color: red;  
 position: relative;
}
.p-date{
 padding:70px ; 
  color:#ffffff ;
  font-weight: 700;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif; 
}
.div-2{
 margin-left: 12px;
font-weight: bold;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
}
.div-3{
  margin-left: 20px;
  font-weight: bold;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}