.div-1 { 
 height: 120px; 
 width: auto;
 background-color: red;  
 position: relative;
}
.p-date{
 padding:70px ; 
  color:#ffffff ;
  font-weight: 700;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif; 
}

